<div class="container">
  <nav class="navbar-default">
  <div class="container-fluid">
    <div class="collapse">
      <ul class="nav navbar-nav">
        <li class = "headerBtn"><a style = "color: #fff" href="/">Home</a></li>
        <li class = "headerBtn"><a style = "color: #fff" href="/about.html">About</a></li>
        <li class = "headerBtn"><a style = "color: #fff" href="/poems.html">Poems</a></li>
        <li class = "headerBtn"><a style = "color: #fff" href="/credits.html">Credits</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>

<script>
function updateBG(){
  val = document.getElementById('bg').value;
  page = document.getElementById('fullPage');

  if(val == "river"){
    page.style.backgroundImage = "url('/public/img/River.jpg')"; 
  }
  else if(val == "mountain"){
    page.style.backgroundImage = "url('/public/img/mountains.jpg')"; 
  }
  else{
    page.style.backgroundImage = "url('/public/img/gundam.jpg')";
  }

}
</script>
