body {
  width: 100%;
	height: 100%;
	text-align: center;
}
.collapse{
    display: block!important;
    height: auto!important;
    padding-bottom: 0;
    overflow: visible!important;
    width: auto;
    border-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}
#padLeaders{
  height: 20px,
}
.picMe{
  background-image: url('/public/img/meandalice.jpg');
  background-size: cover;
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 90px;
  margin: 20px 0 0px 0;
}

.poemsLeft{
  width: 680px;
  vertical-align: top;
  text-align: left;
  margin: 0px 0px 10px 10px;
  display: inline-block;
}
.left3{
  text-align: left;
  margin: 0px 20px 20px 120px;
  display: block;
}
.left2{
  text-align: left;
  vertical-align: top;
  margin: 0px 20px 20px 0px;
  display: inline-block;
}
.left{
  width: 680px;
  vertical-align: top;
  text-align: left;
  margin: 20px 0px 20px 10px;
  display: inline-block;
}
.credits{
  display: inline-block;
  width: 600px;
  height: 400px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: 100px 0 200px 0;
  padding: auto;
  padding-top: 80px; 
  color: #fff;
  background-color: #000000b0;
}
.poem{
  display: inline-block;
  width: auto;
  height: auto;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: 100px 0 100px 0;
  padding: 60px;
  color: #fff;
  background-color: #000000b0;
}
.poemAuthor{
  text-align: left;
  display: block;
  font-size: 14px;
  font-weight: normal; 
  padding-top: 5px
}
.poemTitle{
  text-align: left;
  margin-bottom: 20px;
  display: block;
  font-size: 30px;
  font-weight: bold; 
  padding-bottom: 20px;
}
.poemLine{
  text-align: left;
  margin-bottom: 0px;
  display: block;
}
.stanza{
  margin-bottom: 30px;
}
.poems{
  display: inline-block;
  width: 450px;
  height: 290px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: 100px 0 200px 0;
  padding: 50px 0 0 50px;
  color: #fff;
  background-color: #000000b0;
}
.about{
  display: inline-block;
  width: 700px;
  height: 860px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: 100px 0 200px 0;
  padding: auto;
  color: #fff;
  background-color: #000000b0;
}
.cBoxes{
  color: #fff;
  margin-right: 10px;
  font-weight: normal;
}
.thanks{
  background-color: #000000b0;
  color: #fff;
  width: 440px;
  height: 170px;
  margin: auto;
  padding: 25px;
  margin-top: 120px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}
.contactTitle{
  font-size: 20px;
  font-weight: bold;
  margin-top: 22px;
}
.sepTop{
  display: inline-block;
  vertical-align: top;
  margin-top: 13px;
}
#somePadding{
  margin: 10px;
}
.blockRight{
  display: block;
  text-align: right;
  padding-right: 40px;
}
.inputFields{
  display: inline-block;
  width: 300px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 20px 0px 20px 0;
  margin-left: 5px;
}
.nahBigger{
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0px 10px 0;
  margin-left: 5px;
  overflow-x: hidden;
}
.formContactUs{
  display: block;
  width: 440px;
  height: 450px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  margin: auto;
  margin-top: 100px;
  padding: auto;
  color: #fff;
  background-color: #000000b0;
}

#yooo {
  margin: auto;
  margin-top: 100px;
  padding: 15px;

  display: block!important;
  height: auto!important;
  overflow: visible!important;
  width: auto;

  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  background-color: #000000b0;
}
.navbar-default {
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  background-color: #000000b0;
}
.headerBtn:hover{
  background-color: #00000042;
}

.test{
  display: inline;
  width: 80px;
  margin-bottom: 2px;  
}
.uh{
  vertical-align: middle;
  margin-top: 7px;
}
.top{
  visibility: hidden;
  vertical-align: top;
  display: inline-block;
  margin: 0px 25px 25px 25px;
}
.extraPadding{
  margin-left: 130px;
}
.padding{
  margin: 5px;
  padding: 5px;
}
.bold{
  font-weight: bold;
}
#bold{
  font-weight: bold;
  margin-right: 20px;
}
.entirePage{
  background-image: url('/public/img/River.jpg');
  background-size: cover;
  background-color: #fff;
}
.title{
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
.sep {
  display: inline-block;
}
.block{
  display: block;
  color: #fff;
}
.box {
  border: 1px solid #000;
  padding-top: 0px;
  margin: 35px;
  background-color: #000000b0;
}
.result{
  padding: 5px;
  margin: 5px;
  display: inline-block;
  font-weight: bold;
}
.right{
  text-align: right;
  margin: 5px;
  padding: 5px;
}
#bg{
  margin-left: 20px;
  margin-top: 7px;
}
.middle{
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
}

.middle:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.clear {
  clear: both;
  line-height: 0px;
  height: 0px
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
/*start of stopwatch stuff*/
.stopwatch {
  visibility: hidden;
  width: 320px;
  color: #FFF;
  font: bold 20px 'Droid Sans', Arial, sans-serif;
  height: 500px;
  display: inline-block;
  vertical-align: top;
  margin: 0 25px 25px 25px;
  background-color: #000000b0;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
}

.stopwatch .header {
  padding: 11px;
}

.stopwatch .header span {
  opacity: 0.8;
  font-size: 14px
}

.stopwatch .main-counter  {
  font-size: 80px;
  font-weight: 200;
  padding: 20px 0px;
}

.stopwatch .controls {
  padding: 12px 0px;
  margin: 0px 15px;
  border-bottom: 1px solid #333;
}

.stopwatch .controls .btn {
  color: #fff;
  border: 5px double #000;
  width: 85px;
  height: 85px;
  padding: 0px;
  text-align: center;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
}

.stopwatch .btn[disabled] {
  opacity: 0.5
}

.stopwatch .btn-reset, .stopwatch .btn-lap {
  background: #3d3d3d;
}

.stopwatch .btn-start {
  background-color: #19351e;
  color: #73c972;
}

.stopwatch .btn-stop {
  background-color: #3d1513;
  color: #fff;
}

.stopwatch .laps {
  margin: 0px 15px 0px 15px;
  overflow-y: auto;
  height: 200px;
}

.stopwatch .laps .lap {
  padding: 10px 0px;
  border-bottom: 1px solid #333;
}

.stopwatch .laps .lap.slowest {
  color: #f9382f;
}

.stopwatch .laps .lap.fastest {
  color: #73c972;
}
/* top right bot left*/
/*start of timer stuff*/
#countdown{
  width: 465px;
  height: 215px;
  text-align: center;
  background-image: -webkit-linear-gradient(top, #222, #333, #333, #222); 
  background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
  background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
  background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
  background-color: #000000b0;
  border: 1px solid #111;
  border-radius: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  padding: 24px 0 0 0;
  display: inline-block;
}

#countdown #tiles{
  position: relative;
  z-index: 1;
}

#countdown #tiles > span{
  width: 92px;
  max-width: 92px;
  font: bold 48px 'Droid Sans', Arial, sans-serif;
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-linear-gradient(top, #bbb, #eee); 
  background-image:    -moz-linear-gradient(top, #bbb, #eee);
  background-image:     -ms-linear-gradient(top, #bbb, #eee);
  background-image:      -o-linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  margin: 0 7px;
  padding: 18px 0;
  display: inline-block;
  position: relative;
}

#countdown #tiles > span:before{
  content:"";
  width: 100%;
  height: 13px;
  background: #111;
  display: block;
  padding: 0 3px;
  position: absolute;
  top: 41%; left: -3px;
  z-index: -1;
}

#countdown #tiles > span:after{
  content:"";
  width: 100%;
  height: 1px;
  background: #eee;
  border-top: 1px solid #333;
  display: block;
  position: absolute;
  top: 48%; left: 0;
}

#countdown .labels{
  padding-top: 12px;
}
#countdown .labels2{
  width: 100%;
  height: 50px;
  text-align: center;
}
#countdown .labels2 li{
  width: 102px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #f47321;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.testButton{
  width: 80px;
  font: bold 15px 'Droid Sans', Arial, sans-serif;
  color: #444;
}

#startTimer{
  margin-right: 10px;
}