<div class="about">
	<div class = "picMe">
	</div>
	<a href="/public/Resume.pdf" download>
  		<p>Resume</p>
	</a>
	<p class = "left">Hi, I’m Andrew Nguyen. I study math and comp sci at UCSD. I’m currently looking for a full-time opportunity starting summer of 2018, so if you’d like to interview me feel free to reach out to me at <a style = "color:#15c" href="/contact">andrewhongnguyen@gmail.com</a></p>

	<p class = "left">What are your favorite animes?
		<i class = "sep">Mobile Suit Gundam Iron-Blooded Orphans, Boku no Hero Academia, Hunter × Hunter.</i>
	</p>

	<p class = "left">How would you describe yourself in one word?
		<span class = "block">Objective</span>
	</p>

	<span class = "left">What games are you playing?
		<div class = "sep">
		<div class = "left2">
			<span class = "block">Puzzles and Dragons: I run the following leaders</span>
			<span class = "block"> Yooo feel free to add me. 359,525,393 </span>
		</div>
		
		<img style="display:inline" src="/public/img/padleaders.jpg" width="210" height="70">
		</div>
	</span>

</div>


