<div class="hmu">
  <form class="formContactUs" role="form" action="/process?form=contactus" method="POST">
  <h4 class = "contactTitle">Need to contact me?</h4>
    <div class="blockRight">
      <label for="fieldSubject" class="sep">Subject</label>
      <div class="sep">
        <input type="text" class="inputFields" id="fieldSubject" name="subject">
      </div>
    </div> <!-- End of form-group -->

    <div class="blockRight">
      <label for="fieldQues" class = "sepTop">Message</label>
      <div class = "sep">
        <textarea rows = "7" cols = "36" class = "nahBigger" id="fieldQues" name="ques"> </textarea>
      </div>
    </div> <!-- End of form-group -->

    <div class="blockRight">
      <label for="fieldEmail" class="sep">Email</label>
      <div class="sep">
        <input type="text" class="inputFields" id="fieldEmail" name="email">
      </div>
    </div> <!-- End of form-group -->

    <div class="sep">
      <div>
        <button type="submit" id = "somePadding" class="btn btn-default">Submit</button>
      </div>
    </div> <!-- End of form-group -->

  </form>


</div> <!-- End of contactUs -->


